<center> <h1>Universidad Nacional de San Agustín de Arequipa</h1> </center> 
<center> <h1>Escuela Profesional de Ingeniería de Telecomunicaciones</h1> </center> 

<center> <h1> </h1> </center> 

<center><img src="https://user-images.githubusercontent.com/19308295/115939517-f1c6fe80-a463-11eb-989c-812ab4942586.png" width="380" height="4200"></center>

<center> <h2>Ingeniero Renzo Bolivar - Docente DAIE</h2> </center>

<center> <h1>Curso : Computación 2</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

<center> <h1>CASO ESTUDIO: PREPARACIÓN DE DATOS</h1> </center> 
<center> <h1>PARA MACHINE LEARNING</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

# Descripción:

<div class="alert alert-info">

En este notebook se explicará una introducción a la **Preparación de Datos para Machine Learning**
    
</div>

# Objetivos:

1. **Análisis Exploratorio de Datos**.
2. Soluciones de **Preparación de Datos**.
3. Todo a **numérico**.

algunas funciones importantes de pandas.

[1. Caso Estudio](#1.-Caso-Estudio)<br>
[2. Análisis Exploratorio de Datos](#2.-Análisis-Exploratorio-de-Datos)<br>
[3. Soluciones de preparación de datos](#3.-Soluciones-de-preparación-de-datos)<br>
[4. Paso Final](#4.-Paso-Final)<br>


[EJERCICIOS](#EJERCICIOS)<br>
[BIBLIOGRAFÍA](#BIBLIOGRAFÍA)<br>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

## <font color=#33A5FF>****1. Caso Estudio****<tfont>

<div class="alert alert-info">
    
 **Datos: Encuesta permanente de hogares** `( EPH )`

Objetivo concreto: Construir un **modelo** que haga la predicción de personas con ingresos mayor a 15k

Objetivo técnico: Construir un **clasificador binario** con random forest


</div>

<div class="alert alert-info">

    
**Objetivo Inicial**: **Preparación de datos**
    
    1. AED
    2. Limpieza Datos
    
    
**Objetivo Final**:
    
    Dataset Numérico(sin nulos)
    
</div>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

## <font color=#33A5FF>****2. Análisis Exploratorio de Datos****<tfont>

## 1.1.- Cargamos los datos - Encuesta permanente de hogares   `EPH`

#### Librerías

In [1]:
# importar las librerias
import pandas as pd
from qgrid import show_grid
import seaborn as sns
from pandas_profiling import ProfileReport
from funpymodeling.exploratory import freq_tbl, status, profiling_num, cat_vars, num_vars

#### Archivo `txt`

In [2]:
data=pd.read_csv("data/eph2.txt", sep = ",")

In [3]:
show_grid(data)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

## 1.2.- AED y detección de problemas

In [4]:
status(data)

              variable  q_nan     p_nan  q_zeros  p_zeros  unique     type
0                 edad    134  0.038111        0      0.0      70  float64
1                 sexo      0  0.000000        0      0.0       2   object
2             alfabeto      0  0.000000        0      0.0       2   object
3        sistema_salud      0  0.000000        0      0.0       7   object
4      nivel_educativo     66  0.018771        0      0.0       7   object
5  ocupacion_jerarquia      0  0.000000        0      0.0       4   object
6         estado_civil      0  0.000000        0      0.0       5    int64
7          ingreso_15k      0  0.000000        0      0.0       2   object

<div class="alert alert-success">
    
### Detectamos tres problemas: 

a) Tipo de **dato incorrecto**: `estado_civil` (int64)

b) **nan en categórica**: `nivel_educativo`

c) **nan en numérica**: `edad`
    
    
</div>

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****3. Soluciones de preparación de datos****<tfont>

## 3.a. ¿Cómo convertir un tipo de dato num a cat?

Tipo de **dato incorrecto**: `estado_civil` (int64) 


### [solución]

### Convertimos solo una variable:

In [ ]:
# Hacemos una copia

data_original=data.copy()

In [6]:
data['estado_civil_cat']=data['estado_civil'].astype(str)

In [7]:
# chequeo:
status(data['estado_civil_cat'])

           variable  q_nan  p_nan  q_zeros  p_zeros  unique    type
0  estado_civil_cat      0    0.0        0      0.0       5  object

In [8]:
data=data.drop('estado_civil', axis=1)

In [9]:
status(data)

              variable  q_nan     p_nan  q_zeros  p_zeros  unique     type
0                 edad    134  0.038111        0      0.0      70  float64
1                 sexo      0  0.000000        0      0.0       2   object
2             alfabeto      0  0.000000        0      0.0       2   object
3        sistema_salud      0  0.000000        0      0.0       7   object
4      nivel_educativo     66  0.018771        0      0.0       7   object
5  ocupacion_jerarquia      0  0.000000        0      0.0       4   object
6          ingreso_15k      0  0.000000        0      0.0       2   object
7     estado_civil_cat      0  0.000000        0      0.0       5   object

---

## 3.b. ¿Como crear la categoría 'Nulo'?

Hay `nan` en **categórica**: `nivel_educativo` 

### [solución]

### Utilizar método `fillna`

In [10]:
status(data['nivel_educativo'])

          variable  q_nan     p_nan  q_zeros  p_zeros  unique    type
0  nivel_educativo     66  0.018771        0      0.0       7  object

In [11]:
data['nivel_educativo']=data['nivel_educativo'].fillna(value='nulo')

---

## 3.c. ¿Cómo tratar los nulos en variables numéricas?


Hay `nan` en numérica: `edad`.



**Distintos enfoques**: 
  
  1. **Discretizar** (*num* a *cat*) y agregar el valor "**nulo**" (cómo paso anterior)


### [solución]

### Discretización de edad

### Tiene 5 categorias y nulos

In [ ]:
#data['edad_cat'].fillna(value="nulo")
# error...

In [ ]:
#asignamos categoría 'nulo'


### Ahora si podemos remplazar los nulos

In [ ]:
#ya funciona método fillna

### Eliminamos la variable original

---

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****4. Paso Final****<tfont>

## Todo a numérico (one hot encoding)

### Guardamos los datos para usarlo para crear un modélo en "Machine Learning":

In [ ]:
#Almacenamos los datos como archivo pickle (representan un objeto Python como una cadena de bytes)

In [ ]:
#Almacenamos como archivo csv

## Resumen

- Cómo convertir de `num` a `cat`

- Cómo remplazar valores `nan` en `cat`

- Cómo remplazar valores `nan` en `num` (método de discretización + nueva categoría nulo)

- Finalizamos con one hot encoding de todo.

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****EJERCICIOS****<tfont>



 ## Tema:      
                    ****Datos Diabetes**** 


 ### Archivo: 
`diabetes.csv` 


---

 ### Actividad: (`utilizando practica actual `)

<div class="well">
<strong>1.1 - </strong> <strong>Al dataset</strong> <code>diabetes.csv</code> aplicar el <strong>AED</strong> y donde exista variables con nulos se reemplaza por <strong>la mediana de cada variable numérica</strong>.
    



    
</div>

<div class="well">

    

<strong>1.2 - </strong> Luego <strong>Aplicar</strong> todos los pasos de la practica para la <strong>Preparación de Datos</strong>

    


    
</div>

<div class="well">


    
<strong>1.3 - </strong> <strong>Crear un nuevo archivo</strong> <code>csv</code> con el resultado final listo para aplicar un modelo de Machine Learnig.

    
</div>

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****BIBLIOGRAFÍA****<tfont>

[1] Documentación oficial de `seaborn`: https://seaborn.pydata.org/introduction.html

[2] ¿Por qué se carga como sns? https://stackoverflow.com/questions/41499857/seaborn-why-import-as-sns

[3] Libro de Ciencia de Datos - librería `funModeling` https://librovivodecienciadedatos.ai/

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)